/target

cufflinks-2.2.1.Linux_x86_64/

FastQC/

data/

alignment_CO2/

.cargo/

genome/

genome_masked/

genome_updated/

reference/

results/

STAR-2.7.10b/

runs/

download_files.sh

fastp.html

fastp.json

motifs.txt

*.bam

*.bai

*.out

*.tab

p_tricornutum.fa

motifs_potential/

from-tscc/

*.txt

*.jpg

*.png

wapm_packages
*.sh

*.pbs

dump/
